{% extends 'base.html' %}
{% block title %}
    Main
{% endblock %}

{% block content %}
    <!--<h1>Главная страница</h1>
    <ul>
        {% for quote in quotes %}
            <li>{{quote.text}}</li>
        {% endfor %}
    </ul>-->
    <main>
        <div class="container">
            <div class="news-feed">
                <h1>Новостная лента</h1>
                <div class="news-item">
                    <h3>Заголовок новости 1</h3>
                    <p>Текст новости 1</p>
                    <p>Дата: 10 сентября 2022</p>
                </div>
                <div class="news-item">
                    <h3>Заголовок новости 2</h3>
                    <p>Текст новости 2</p>
                    <p>Дата: 9 сентября 2022</p>
                </div>
                <div class="news-item">
                    <h3>Заголовок новости 3</h3>
                    <p>Текст новости 3</p>
                    <p>Дата: 8 сентября 2022</p>
                </div>
                
            </div>
            <div class="side-panel">
                <h3>Меню:</h3>
                <ul>
                    <li><a href="#">Профиль</a></li>
                    <li><a href="#">Настройки</a></li>
                    <li><a href="#">Выход</a></li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}