<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    
        <title>{% block title %}{% endblock %}</title>
    </head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9">
        
      </div>
      <div class="col-lg-3">
        
      </div>
    </div>
  </div>
</body>
</html>