{% extends 'base.html' %}
{% block title %}
    WiseBook
{% endblock %}

{% block content %}
    {% if not quotes %}
        Quotes not found
    {% endif %}
    <ul>
        {% for quote in quotes %}
            <li>{{quote.quote}}</li>
        {% endfor %}
    </ul>
    <!--<main>
        <div class="container">
            <div class="news-feed">
                <div class="news-item">
                    <h3>Заголовок новости</h3>
                    <p>Текст новости 1</p>
                    <p>Дата: 10 сентября 2022</p>
                </div>
                <div class="news-item">
                    <h3>Заголовок новости 2</h3>
                    <p>Текст новости 2</p>
                    <p>Дата: 9 сентября 2022</p>
                </div>
                <div class="news-item">
                    <h3>Заголовок новости 3</h3>
                    <p>Текст новости 3</p>
                    <p>Дата: 8 сентября 2022</p>
                </div>
            </div>
        </div>
    </main>-->
{% endblock %}