{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<form method="POST" novalidate>
    {{ form.csrf_token }}
    {{ form.username(class="form-control form-control-lg py-3 mb-3", placeholder=form.username.label.text) }}
    <p>
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          <span style="color: red">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </p>
    {{ form.password(class="form-control form-control-lg py-3 mb-3", placeholder=form.password.label.text) }}
    <p class="text-danger">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </p>
    
    <div class="container">
      {{ form.submit(class="button px-5 py-3 btn") }}
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                <span style="color: red">{{ message }}</span>
              {% endfor %}
          {% endif %}
      {% endwith %}
  </div>
</form>
{% endblock %}
